body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100%;
}


#title {
  font-family: 'Cinzel', serif;
  font-weight: 400; /* Regular */
  font-size: 3rem;
  margin: 1em;
  text-align: center;
}

#subtitle {
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}

#author {
  color: #34210d;
  font-size: 0.8em;
  font-weight: 305000;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  #title {
    font-size: 2rem;
    margin: 0.5em;
  }

  #subtitle {
    font-size: 1rem;
  }

  #author {
    font-size: 0.8rem;
  }

  .title-container {
    padding: 20px;
    background-position: center;
  }
}

.title-container {
  height: 100vh;
  background: url('../img/Spring drawing.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#34210d
}

.title-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.2); 
  z-index: 1;
  height: 100vh;
}

.title-container h1,
.title-container h4,
.title-container h5 {
  position: relative;
  z-index: 2; 
}

.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.map {
  height: 100%;
  width: 100%;
}

.info.legend {
  background: white;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info.legend i, .info.legend span {
  display: inline-block; 
  width: 25px;
  height: 12px;
  margin-right: 6px;
  opacity: 0.7;
  vertical-align: middle;
}

.legend-color.hopi {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.legend-color.other {
  background-color: #A0522D;
  border: 1px solid #A0522D;
}

.slide-section {
  position: relative;
  margin-top: -20vh;
  z-index: 100;
  pointer-events: none;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.slide {
  margin-top: 90vh;
  margin-bottom: 90vh;
  margin-left: auto;
  margin-right: 2rem;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 30%);
  pointer-events: initial;

  width: 16rem;

  background-color: rgba(255, 255, 255, 0.4);
  
  color: black;
}

.slide:first-child {
  margin-top: 0;
}

.slide:last-child {
  margin-bottom: 40vh;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}

.custom-label {
  background: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #333;
}

.image-slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;     
  margin: 0;                 
  padding: 0;  
  background-color: rgba(255, 255, 255, 0.2);
}

.image-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; /* 点击切换 */
}

.wide-carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.wide-carousel .carousel-track {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.wide-carousel .carousel-item {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
}

.wide-carousel .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover; 
}

.custom-cross {
  color: rgb(98, 192, 203);
  font-size: 40px;
  font-weight: thin;
  text-align: center;
}

.custom-cross1 {
  color: rgb(243, 241, 32);
  font-size: 40px;
  font-weight: thin;
  text-align: center;
}

@media (max-width: 600px) {

  .slide {
    width: 85%;
    margin: 500px auto;       
    padding: 12px;
    text-align: center;  
  }

  .slide h2, .slide p {
    text-align: center;
  }

  .slide-content {
    font-size: 0.95rem;
    line-height: 1.3rem;
  }

 
  .slides {
    padding: 0 12px;
  }
}